body{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

/* ---------------Section part-one Start--------------- */
.flex{
    font-family: 'Times New Roman', Times, serif;
    margin-left: 80px;
}

.flex h1{
    font-weight: 900;
}
.flex h4{
    font-weight: 400;
}
/* ----------------Section part-one End---------------- */


/* <!------------- Section part-two Start------------ --> */
.Shipp{
    background-color: black;
    padding: 40px 20px 40px 20px;
    margin-top: 40px;
}

.card-free{
    background-color: rgb(69, 68, 68);
    color: white;
    margin: auto;
    padding: 10px 20px 10px 20px;
    text-align: center;
}

.card-Cert{
    background-color: rgb(69, 68, 68);
    color: white;
    margin: auto;
    padding: 10px 0px 10px 0px;
    text-align: center;
}

.card-Huge{
    background-color: rgb(69, 68, 68);
    color: white;
    margin: auto;
    padding: 10px 20px 10px 20px;
    text-align: center;
}

.card-Easy{
    background-color: rgb(69, 68, 68);
    color: white;
    margin: auto;
    padding: 10px 20px 10px 20px;
    text-align: center;
}

.ping{
    color: yellowgreen;
}
/* <!------------- Section part-two End------------ --> */


/* <!------------- Section part-three Start--------------- --> */
.prts{
    text-align: center;
    margin-top: 160px;
}

.Extra{
    text-align: center;
}
/* <!------------- Section part-three End--------------- --> */


/* <!------------- Section part-four Start------------ --> */
.pata{
    width: 10%;
    margin-top: 220px;
    margin-left: 50%;
}

.amet{
    text-align: center;
}
/* <!------------- Section part-four End------------ --> */

.need{
    margin-left: 25%;
}

/* <!------------- Section part-six Start------------ --> */
.joee{
    margin-top: 77px;
}

.card img{
    margin-top: 30px;
}
.jeob{
    margin-top: 30px;
    font-weight: bold;
}

.parcen{
    position: absolute;
    top: 35%;
}
/* <!------------- Section part-six End------------ --> */


/* <!------------- Section part-eight Start------------ --> */
.last{
    background-color: rgb(3, 10, 30);
}

.many{
    margin-left: 80px;
}

.part{
    border-bottom: 2px solid wheat;
    padding: 50px;
}

.quick{
    margin-left: 80px;
}

.app{
    margin-left: 40px;
}

.siocal{
    margin-left: 750px;
}

.midia{
    text-decoration: none;
}
/* <!------------- Section part-eight End------------ --> */